<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e0fe9511-02c7-4148-af6e-649af2f6bdcd/resourceGroups/vp-pvims/providers/Microsoft.Web/sites/vp-pvims</ResourceId>
    <ResourceGroup>vp-pvims</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://vp-pvims.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>vp-pvims.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>vp-pvims</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$vp-pvims</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:vp-pvims.database.windows.net,1433;Initial Catalog=vp-pvims_db;User ID=vps.admin@vp-pvims.database.windows.net;Password=VPPSpassw0rd!@#" Name="Data Source=tcp:vp-pvims.database.windows.net,1433;Initial Catalog=vp-pvims_db;User Id=vps.admin@vp-pvims.database.windows.net;Password=VPPSpassw0rd!@#; MultipleActiveResultSets=True;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PVIMS.Web.Models.ApplicationDbContext, PVIMS.Web" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DCAT" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:vp-pvims.database.windows.net,1433;Initial Catalog=vp-pvims_db;User ID=vps.admin@vp-pvims.database.windows.net;Password=VPPSpassw0rd!@#" Name="Data Source=tcp:vp-pvims.database.windows.net,1433;Initial Catalog=vp-pvims_db;User Id=vps.admin@vp-pvims.database.windows.net;Password=VPPSpassw0rd!@#; MultipleActiveResultSets=True;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PVIMS.Entities.EF.PVIMSDbContext, PVIMS.Entities.EF" MigrationConfiguration="PVIMS.Entities.EF.Migrations.Configuration, PVIMS.Entities.EF" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DCAT-Web.config Connection String">
      <ParameterValue>Data Source=tcp:vp-pvims.database.windows.net,1433;Initial Catalog=vp-pvims_db;User Id=vps.admin@vp-pvims.database.windows.net;Password=VPPSpassw0rd!@#;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:vp-pvims.database.windows.net,1433;Initial Catalog=vp-pvims_db;User Id=vps.admin@vp-pvims.database.windows.net;Password=VPPSpassw0rd!@#;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>