
@{
    ViewBag.Title = "Add Encounter";
}

@{
    Layout = "~/Views/Shared/_OfflineLayout.cshtml";

    ViewBag.Icon = "fa-puzzle-piece";
    ViewBag.Heading = string.Format("Add Encounter ({0})", "John Doe");
    ViewBag.ClinicalCol = "orange"; ViewBag.AnalyticalCol = "white"; ViewBag.ReportingCol = "white"; ViewBag.PublisherCol = "white";
}

@section breadcrumb
{
    <li>Encounters</li>
}

<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div id="addEncounter-view" class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Add New Encounter</h2>

                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body">


                        <div class="form-horizontal">

                            <div class="form-group">
                                <label class="control-label col-md-2">Encounter Type</label>
                                <div class="col-md-3">
                                    <select class="form-control" data-bind="options: encounterTypes, optionsText: 'Description', optionsValue: 'Id', value: encounter().EncounterType"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Priority</label>
                                <div class="col-md-3">
                                    <select class="form-control" data-bind="options: priorities, optionsText: 'Description', optionsValue: 'Id', value: encounter().EncounterPriority"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Encounter Date</label>
                                <div class="col-md-3">
                                    <input class="form-control" type="date" data-bind="value: encounter().EncounterDate" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Notes</label>
                                <div class="col-md-3">
                                    <textarea class="form-control" rows="6" data-bind="value: encounter().Notes"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="button" value="Save" class="btn btn-default" id="btnSave" data-bind="click: save" />
                                    <a href="/Patient/PatientSearch" class="btn btn-default">Cancel</a>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->

    </div>

    <!-- end row -->
    <!-- end row -->

</section>
<!-- end widget grid -->